<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE ME PLEASE{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Rubik+Mono+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EXP Reviews</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" action="/search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if session.get("user_id") %}
            <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        {% else %}
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!-- Flash message handling -->
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    {% block content %}Y HAZ NO CONTENT????{% endblock %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="footer">♥ Made of love, phoenixes, and Flask.</p>
      </div>
    </div>
  </div>
</nav>

</body>
</html>