<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TITLE ME PLEASE{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>
</head>
<body>

    <!-- Fake Navbar for now -->
    <h3><a href="/">EXP Reviews</a></h3>

    <ul>
    {% if session.get("user_id") %}
        <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
    {% else %}
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
    {% endif %}
    <form action="/search" method="GET">
        <li>
            <label>Search: </label><input type="text" name="search">
            <input type="submit" name="submit" value="Search">
        </li>
    </form>
    </ul>

    <hr>

    <!-- Do an AJAX thingy with a dropdown predictive text??? -->

    <!-- Flash message handling -->
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

    {% block content %}Y HAZ NO CONTENT????{% endblock %}

</body>
</html>