{% extends "base.html" %}

{% block title %}{{ game.name }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{ game.name }}</h1>
            {% if game.covers|length >= 1 %}
                <img src="{{ game.covers[0].url }}" style="width:100%">
            {% else %}
                <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
            {% endif %}
            {% if session.get("user_id") and not added %}
                <button type="button" id="add-game">Add Game +</button>
                <p id="fake-flash" style="display: none">Added to your list.</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            {% if game.summary %}
                <h3>Summary</h3>
                <div class="summary-toggle" height="140px;">
                    {% if game.summary|length < 450 %}
                    <span class="summary-toggle full">{{ game.summary }}</span>
                    {% else %}
                    <span class="summary-toggle full" style="display: none">{{ game.summary }}</span>
                    <span class="summary-toggle short">{{ game.summary[:450 ] }}...    </span>
                        <a href="#" class="toggle" id="summary-toggle">Show More</a>
                    {% endif %}
                </div>
            {% endif %}
            {% if game.storyline %}
                <h3>Storyline</h3>
                <div class="storyline-toggle" style="height: 140px;"">
                    {% if game.storyline|length < 450 %}
                    <span class="storyline-toggle full">{{ game.storyline }}</span>
                    {% else %}
                    <span class="storyline-toggle full" style="display: none">{{ game.storyline }}</span>
                    <span class="storyline-toggle short">{{ game.storyline[:450] }}... </span>
                        <a href="#" class="toggle" id="storyline-toggle">Show More</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-2">
            <h3>About:</h3>
            {% if game.developers %}
                <h5>Developers: </h5>
                {% for dev in game.developers %}
                    <a href="/developers/{{ dev.developer_id }}">{{ dev.name }}</a>
                {% endfor %}
            {% endif %}
            {% if game.franchise %}
                <h5>Franchise: </h5>
                <a href="/franchises/{{ game.franchise_id }}">{{ game.franchise.name }}</a>
            {% endif %}
            {% if game.genres %}
                <h5>Genres: </h5>
                {% for genre in game.genres %}
                    <a href="/genres/{{ genre.genre_id }}">{{ genre.genre }}</a>
                {% endfor %}
            {% endif %}
            {% if game.platforms %}
                <h5>Platforms: </h5>
                {% for platform in game.platforms %}
                    <a href="/platforms/{{ platform.platform_id }}">{{ platform.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-3">
            {% if player_score[0] %}
            <div class="row">
                <div class="col-lg-8">
                    <h3>Player Score:</h3> 
                    <h4>{{ "%.1f" % player_score[0] }}</h4>
                </div>
                <div class="col-lg-4">
                    {% if player_score[0] >= 65 %}
                        <img src="/static/img/greenbottle.png" style="height: 50px; width: auto">
                    {% else %}
                        <img src="/static/img/brokenbottle.jpg" style="height: 50px; width: auto">
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if critic_scores %}
            <div class="row">
                <div class="col-lg-8">
                    <h3>Critic Scores: </h3>
                        {% for review in critic_scores %}
                            <h4>{{ review[0] }}: <a href="{{ review[2] }}">{{ review[1] / 10 }}/10</a></h4>
                        {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% if critic_avg >= 65 %}
                        <img src="/static/img/greenbottle.png" style="height: 50px; width: auto">
                    {% else %}
                        <img src="/static/img/brokenbottle.jpg" style="height: 50px; width: auto">
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if session.get("user_id") %}
            <div class="row">
                <div class="col-xs-12 add-edit-review">
                {% if current_review %}
                    <h4>Edit your Review:</h4>
                    <form action="/review/{{ game.game_id }}" method="POST">
                        <label>Score: </label><input type="number" name="score" min="0" max="100" value="{{ current_review.score }}">
                        <label>Comments: </label><input type="textarea" name="comment" value="{{ current_review.comment }}">
                        <input type="submit" name="submit" value="Update">
                    </form>
                {% else %}
                    <h4>Add a Review:</h4>
                    <form action="/review/{{ game.game_id }}" method="POST">
                        <label>Score: </label><input type="number" min="0" max="100" name="score">
                        <br>
                        <label>Comments: </label><input type="textarea" name="comment">
                        <input type="submit" name="submit" value="Review">
                    </form>
                {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div> <!-- End main info div -->

     <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if reviews %}
        <li role="presentation" class="active"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
        {% endif %}
        {% if game.screenshots %}
        <li role="presentation"><a href="#screenshots" aria-controls="screenshots" role="tab" data-toggle="tab">Screenshots</a></li>
        {% endif %}
        {% if videos %}
        <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
        {% endif %}
        {% if reviews %}
        <li role="presentation"><a href="#review-breakdown" aria-controls="breakdown" role="tab" data-toggle="tab">Review Breakdown</a></li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="screenshots">
            {% if game.screenshots %}
            <h2>Screenshots</h2>
            <div id="screenshots-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for index in range((game.screenshots|length / 3)|int + 1) %}
                    {% if index == 0 %}
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                        <div class="row">
                            {% for photo in game.screenshots[(3 * index):(3 * index) + 3] %}
                                <img src="{{ photo.url }}" style="width: 33%; height: 33%;">
                            {% endfor %}
                        </div>
                    </div> 
                {% endfor %}
            </div>

          <!-- Controls -->
            <a class="left carousel-control" href="#screenshots-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#screenshots-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div> <!-- End Rec Carousel -->

            {% endif %}

        </div>

        <div role="tabpanel" class="tab-pane" id="videos">
            {% if videos %}
            <h2>Videos</h2>
            <div id="videos-carousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for index in range((videos|length / 4)|int + 1) %}
                {% if index == 0 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    {% for video in videos[(index * 4):4 + (index * 4)] %}
                        <iframe
                            src="http://www.youtube.com/embed/{{ video.slug }}"
                            height="300"
                            width="400"
                            frameborder="0"
                            scrolling=no
                            allowfullscreen=true>
                        </iframe>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#videos-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#videos-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            </div>
            {% endif %}
        </div>

        <div role="tabpanel" class="tab-pane" id="review-breakdown">
            {% if reviews %}
            <div class="row data-charts">
                <div class="col-xs-12">
                    <h2>Review Breakdown</h2>
                    <div class="game-chart">
                        <canvas id="radarChart"></canvas>
                        <div id="radarLegend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div role="tabpanel" class="tab-pane active" id="reviews">
            {% if reviews %}
            <div class="row game-reviews">
                <div class="col-xs-12">
                    <h2>Reviews</h2>
                    {% if num_pages > 1 %}
                        <h2 class="paginated-header"></h2>
                        <div class="paginated-reviews"></div>
                    {% else %}
                        {% for review in reviews %}
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <h4><a href="/users/{{ review.user.user_id }}">{{ review.user.username }}</a></h4>
                                <strong>{{ review.score }}</strong>
                                {% if review.comment %}
                                    <p>{{ review.comment }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12 pagination-links"></div>
            </div>
            {% endif %}
        </div>

    </div> <!-- End Tab Content -->

</div>

<script type="text/javascript">
    var gameId = "{{ game.game_id }}";
    var paginatedReviews = $("div.paginated-reviews");
    var paginationLinks = $("div.pagination-links")
    var numPages = parseInt("{{ num_pages }}");

    var urlIndex = 1;

    $(document).ready(function () {
        getReviews();
        setLinks();
        setListeners();
    });

    var setListeners = function () {
        $("a.pagination-link").on("click", function (evt) {
            evt.preventDefault();
            var index = $(this).attr("id");
            urlIndex = parseInt(index);
            setLinks();
            getReviews();
        });
    };

    $("a.toggle").on("click", function (evt) {
        evt.preventDefault();
        var toggle = $(this).attr("id");
        $("span.full." + toggle).toggle();
        $("span.short." + toggle).toggle();
        if ($(this).text() == "Show More") {
            $(this).text("Show Less");
        } else {
            $(this).text("Show More");
        }
    });

    var setLinks = function () {
        var values;
        if (numPages >= 5){
            if (urlIndex == 1 || urlIndex == 2){
                values = range(1,5);
            } else if (urlIndex == numPages || urlIndex == numPages - 1){
                values = range(numPages - 4, numPages);
            } else {
                values = range(urlIndex - 2, urlIndex + 2);
            }
        } else {
            values = range(1, numPages)
        }
        var links = "";
        for (value of values) {
        links = links + "<span class='pagination-link-holder'><a " + 
                "class='pagination-link' id=" + value + " href='#'>" + value + 
                "</a></span>";
        }
        paginationLinks.empty();
        paginationLinks.html(links);
        setListeners();
    };

    var getReviews = function (){
        var maxReview = urlIndex * 10;
        var data = {"gameId": gameId, "maxReview": maxReview};

        $.get("/get_game_reviews.json", data, setPaginatedReviews);
    };

    var setPaginatedReviews = function (results) {
        paginatedHTML = "";
        for (var i = 0; i < results.length; i++){
            paginatedHTML = (paginatedHTML + "<div class='col-lg-4 col-md-6 " + 
                "col-xs-12'><h4><a href='/users/" + results[i]['user_id'] + "'>" +
                results[i]['username'] + "</a></h4><strong>" + results[i]['score'] +
                "</strong>");
            if (results[i]["comment"]){
                paginatedHTML = paginatedHTML + "<p>" + results[i]["comment"] + 
                "</p>";
            }
            paginatedHTML = paginatedHTML + "</div>";
        }
        paginatedReviews.html(paginatedHTML);
    };

    var gameAdded = function(results) {
        $("p#fake-flash").toggle();
        setTimeout(function () {
            $("p#fake-flash").toggle();
        }, 3000);
    };

    $("button#add-game").on("click", function () {
        $(this).toggle();
        formValues = {"game_id": "{{ game.game_id }}"}
        $.post("/add_game", formValues, gameAdded);
    });

    var options = { responsive: true };
    var ctx_radar = $("#radarChart").get(0).getContext("2d");

    formValues = {"gameId": "{{ game.game_id }}"}
    $.get("/get_review_breakdown", formValues, function (results) {
        var myRadarChart = new Chart(ctx_radar, {
            type: 'radar',
            data: results,
            options: {
                scale: {
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100
                    }
                }
            }
        }); 
    });

    $("div.carousel").carousel({
        "interval": false
    });

    function range(start, end) {
        var foo = [];
        for (var i = start; i <= end; i++) {
            foo.push(i);
        }
        return foo;
    }

</script>

{% endblock %}