{% extends "base.html" %}

{% block title %}{{ game.name }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{ game.name }}</h1>
            {% if game.covers|length >= 1 %}
                <img src="{{ game.covers[0].url }}" style="width: 250px; height: 400px;">
            {% else %}
                <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
            {% endif %}
            {% if session.get("user_id") and not added %}
                <button type="button" id="add-game">Add Game +</button>
                <p id="fake-flash" style="display: none">Added to your list.</p>
            {% endif %}
        </div>
        <div class="col-lg-5">
            {% if game.summary %}
                <h3>Summary</h3>
                <p>{{ game.summary }}</p>
            {% endif %}
            {% if game.storyline %}
                <h3>Storyline</h3>
                <p>{{ game.storyline }}</p>
            {% endif %}
            {% if game.developers %}
                <h5>Developers: </h5>
                {% for dev in game.developers %}
                    <a href="/developers/{{ dev.developer_id }}">{{ dev.name }}</a>
                {% endfor %}
            {% endif %}
            {% if game.franchise %}
                <h5>Franchise: </h5>
                <a href="/franchises/{{ game.franchise_id }}">{{ game.franchise.name }}</a>
            {% endif %}
            {% if game.genres %}
                <h5>Genres: </h5>
                {% for genre in game.genres %}
                    <a href="/genres/{{ genre.genre_id }}">{{ genre.genre }}</a>
                {% endfor %}
            {% endif %}
            {% if game.platforms %}
                <h5>Platforms: </h5>
                {% for platform in game.platforms %}
                    <a href="/platforms/{{ platform.platform_id }}">{{ platform.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-5">
            {% if player_score[0] %}
            <div class="row">
                <div class="col-lg-8">
                    <h3>Player Score: {{ "%.1f" % player_score[0] }}</h3>
                </div>
                <div class="col-lg-4">
                    <!-- rotten tomatoes style image here -->
                </div>
            </div>
            {% endif %}
            {% if critic_scores %}
            <div class="row">
                <div class="col-lg-8">
                    <h3>Critic Scores: </h3>
                        {% for review in critic_scores %}
                            <h4>{{ review[0] }}: {{ review[1] / 10 }}/10</h4>
                        {% endfor %}
                </div>
                <div class="col-lg-4">
                    <!-- rotten tomatoes style image here -->
                </div>
            </div>
            {% endif %}
        </div>
    </div> <!-- End main info div -->

    <div class="row">
        {% if game.screenshots %}
            <div><h2>Screenshots</h2></div>
            {% for photo in game.screenshots %}
                <img src="{{ photo.url }}" style="width: 33%; height: 33%;">
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        {% if videos %}
            <div><h2>Videos</h2></div>
            {% for video in videos %}
                <iframe
                    src="http://www.youtube.com/embed/{{ video.slug }}"
                    height="300"
                    width="400"
                    frameborder="0"
                    scrolling=no
                    allowfullscreen=true>
                </iframe>
            {% endfor %}
        {% endif %}
    </div>

    {% if session.get("user_id") %}
    <div class="add-edit-review">
        {% if current_review %}
            <h4>Edit your Review:</h4>
            <form action="/review/{{ game.game_id }}" method="POST">
                <label>Score: </label><input type="number" name="score" min="0" max="100" value="{{ current_review.score }}">
                <label>Comments: </label><input type="textarea" name="comment" value="{{ current_review.comment }}">
                <input type="submit" name="submit" value="Update">
            </form>
        {% else %}
            <h4>Add a Review:</h4>
            <form action="/review/{{ game.game_id }}" method="POST">
                <label>Score: </label><input type="number" min="0" max="100" name="score">
                <label>Comments: </label><input type="textarea" name="comment">
                <input type="submit" name="submit" value="Review">
            </form>
        {% endif %}
    </div>
    {% endif %}

    <div class="row data-charts">
        {% if reviews %}
            <h2>Review Breakdown</h2>
            <div class="game-chart">
                <canvas id="radarChart"></canvas>
                <div id="radarLegend" class="chart-legend"></div>
            <div>
        {% endif %}
    </div>

    <div class="row game-reviews">
        {% if reviews %}
            <h2>Reviews</h2>
            {% if num_pages > 1 %}
                <h2 class="paginated-header"></h2>
                <div class="col-lg-4 col-md-6 col-xs-12 paginated-reviews"></div>
                {% for index in range(1, num_pages + 1) %}
                    <a class="pagination" id="{{ index }}" href="/games/{{ game.game_id }}">{{ index }}</a>
                {% endfor %}
            {% else %}
                {% for review in reviews %}
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <h4><a href="/users/{{ review.user.user_id }}">{{ review.user.username }}</a></h4>
                        <strong>{{ review.score }}</strong>
                        {% if review.comment %}
                            <p>{{ review.comment }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %} 
    </div>
</div>

<script type="text/javascript">
    var gameId = "{{ game.game_id }}";
    var paginatedReviews = $("div.paginated-reviews");

    var urlIndex = 1;

    var getReviews = function (){
        var maxReview = urlIndex * 10;
        var data = {"gameId": gameId, "maxReview": maxReview};

        $.get("/get_game_reviews.json", data, setPaginatedReviews);
    };

    var setPaginatedReviews = function (results) {
        paginatedHTML = "";
        for (var i = 0; i < results.length; i++){
            paginatedHTML = (paginatedHTML + "<div class='col-lg-4 col-md-6 " + 
                "col-xs-12'><h4><a href='/users/" + results[i]['user_id'] + "'>" +
                results[i]['username'] + "</a></h4><strong>" + results[i]['score'] +
                "</strong>");
            if (results[i]["comment"]){
                paginatedHTML = paginatedHTML + "<p>" + results[i]["comment"] + 
                "</p>";
            }
            paginatedHTML = paginatedHTML + "</div>";
        }
        paginatedReviews.html(paginatedHTML);
    };

    $("a.pagination").on("click", function (evt) {
        evt.preventDefault();
        var index = $(this).attr("id");
        urlIndex = parseInt(index) ;
        getReviews();
    });

    $(document).ready(getReviews());

    var gameAdded = function(results) {
        $("p#fake-flash").toggle();
        setTimeout(function () {
            $("p#fake-flash").toggle();
        }, 3000);
    };

    $("button#add-game").on("click", function () {
        $(this).toggle();
        formValues = {"game_id": "{{ game.game_id }}"}
        $.post("/add_game", formValues, gameAdded);
    });

    var options = { responsive: true };
    var ctx_radar = $("#radarChart").get(0).getContext("2d");

    formValues = {"gameId": "{{ game.game_id }}"}
    $.get("/get_review_breakdown", formValues, function (results) {
        var myRadarChart = new Chart(ctx_radar, {
            type: 'radar',
            data: results,
            options: {
                scale: {
                    ticks: {
                        beginAtZero: true,
                        min: 0,
                        max: 100
                    }
                }
            }
        }); 
    });

</script>

{% endblock %}