{% extends "base.html" %}

{% block title %}EXP Reviews{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid" style="background: url('/static/img/jumbotron.jpg'); height: 400px;">
            <h1 style="text-align: center;">EXP Reviews</h1>
        </div>
    </div> <!-- End homepage jumbotron -->

    {% if session.get("user_id") and recommended_list%}
    <div class="row">
        <h3>Recommended for You</h3>
        {% for review in recommended_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5><a href="/games/{{ review.game.game_id }}">{{ review.game.name }}</a></h5>
                {% if review.game.covers|length >= 1 %}
                    <img src="{{ review.game.covers[0].url }}" style="width: 250px; height: 400px;">
                {% else %}
                    <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <h3>Popular with Our Users</h3>
        {% for game in user_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5><a href="/games/{{ game.game_id }}">{{ game.name }}</a></h5>
                {% if game.covers|length >= 1 %}
                    <img src="{{ game.covers[0].url }}" style="width: 250px; height: 400px;">
                {% else %}
                    <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
                {% endif %}
                <div class="col-xs-2">
                    <p>Score: {{ "%.1f" % game.avg_user_score }}</p>
                </div>
            </div>
        {% endfor %}

    </div> <!-- End homepage popular games -->

    <div class="row">
        <h3>Popular with Critics</h3>
        {% for game in critic_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5><a href="/games/{{ game.game_id }}">{{ game.name }}</a></h5>
                {% if game.covers|length >= 1 %}
                    <img src="{{ game.covers[0].url }}" style="width: 250px; height: 400px;">
                {% else %}
                    <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
                {% endif %}
                <div class="col-xs-2">
                    <p>Score: {{ "%.1f" % game.avg_critic_score }}</p>
                </div>
            </div>
        {% endfor %}

    </div> <!-- End homepage popular games -->

    <div class="row">
        <h3>Recently Reviewed</h3>
        {% for game in recent_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5><a href="/games/{{ game.game_id }}">{{ game.name }}</a></h5>
                {% if game.covers|length >= 1 %}
                    <img src="{{ game.covers[0].url }}" style="width: 250px; height: 400px;">
                {% else %}
                    <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
                {% endif %}
                <div class="col-xs-2">
                    <p>Score: {{ "%.1f" % game.avg_user_score }}</p>
                </div>
            </div>
        {% endfor %}

    </div> <!-- End homepage recently reviewed -->

    <div class="row">
        <h3>Coming Soon</h3>
        {% for game in soon_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <h5><a href="/games/{{ game.game_id }}">{{ game.name }}</a></h5>
                {% if game.covers|length >= 1 %}
                    <img src="{{ game.covers[0].url }}" style="width: 250px; height: 400px;">
                {% else %}
                    <img src="/static/img/mysterious_wall_chicken.png" style="width: 250px; height: 400px;">
                {% endif %}
                <div class="col-xs-2">
                    <p>Coming Out: {{ game.release_date.strftime("%b %d, %Y") }}</p>
                </div>
            </div>
        {% endfor %}

    </div> <!-- End homepage coming soon -->

</div>

{% endblock %}