{% extends 'base.html' %}

{% block title %}{{ search }}{% endblock %}

{% block content %}
<div class="container">
<div class="row results">
<div class="col-xs-12">
<h1>Search Results for {{ search }}</h1>
<h3>Options</h3>
<input type="checkbox" name="users" id="ck_users" checked><label>Users</label>
<input type="checkbox" name="games" id="ck_games" checked><label>Games</label>
<input type="checkbox" name="genres" id="ck_genres" checked><label>Genres</label>
<input type="checkbox" name="frans" id="ck_franchises" checked><label>Franchises</label>
<input type="checkbox" name="devs" id="ck_developers" checked><label>Developers</label>
<input type="checkbox" name="platforms" id="ck_platforms" checked><label>Platforms</label>

{% if results %}
    <div class="result-list">
    {% if results["users"] %}
        <div class="users-list">
            <h3>Users</h3>
            {% for item in results["users"] %}
            <div class="result-item-users">
                <a href="/users/{{ item[1] }}">{{ item[0] }}</a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if results["games"] %}
        <div class="games-list">
            <h3>Games</h3>
            {% for item in results["games"] %}
            <div class="result-item-games">
                <a href="/games/{{ item.game_id }}">{{ item.name }}</a>
                {% if item.summary %}
                    {% if item.summary|length > 750 %}
                        <p>{{ item.summary[:750] }}...</p>
                    {% else %}
                        <p>{{ item.summary }}</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if results["genres"] %}
        <div class="genres-list">
            <h3>Genres</h3>
            {% for item in results["genres"] %}
            <div class="result-item-genres">
                <a href="/genres/{{ item.genre_id }}">{{ item.genre }}</a>
                {% if item.games %}
                    <br>
                    {% for game in item.games %}
                        <span>{{ game.name }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if results["franchises"] %}
        <div class="franchises-list">
            <h3>Franchises</h3>
            {% for item in results["franchises"] %}
            <div class="result-item-franchises">
                <a href="/franchises/{{ item.franchise_id }}">{{ item.name }}</a>
                {% if item.games %}
                    <br>
                    {% for game in item.games %}
                        <span>{{ game.name }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if results["developers"] %}
        <div class="developers-list">
            <h3>Developers</h3>
            {% for item in results["developers"] %}
            <div class="result-item-developers">
                <a href="/developers/{{ item.developer_id }}">{{ item.name }}</a>
                {% if item.games %}
                    <br>
                    {% for game in item.games %}
                        <span>{{ game.name }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if results["platforms"] %}
        <div class="platforms-list">
            <h3>Platforms</h3>
            {% for item in results["platforms"] %}
            <div class="result-item-platforms">
                <a href="/platforms/{{ item.platform_id }}">{{ item.name }}</a>
                {% if item.games %}
                    <br>
                    {% for game in item.games %}
                        <span>{{ game.name }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% else %}
    <p>No results were found for {{ search }}.</p>
{% endif %}
</div>
</div>
</div>

<script type="text/javascript">

    $("input#ck_users").change(function () {
        if (this.checked) {
            $("div.users-list").show();
        } else {
            $("div.users-list").hide();
        }
    });

    $("input#ck_games").change(function () {
        if (this.checked) {
            $("div.games-list").show();
        } else {
            $("div.games-list").hide();
        }
    });

    $("input#ck_genres").change(function () {
        if (this.checked) {
            $("div.genres-list").show();
        } else {
            $("div.genres-list").hide();
        }
    });

    $("input#ck_developers").change(function () {
        if (this.checked) {
            $("div.developers-list").show();
        } else {
            $("div.developers-list").hide();
        }
    });

    $("input#ck_franchises").change(function () {
        if (this.checked) {
            $("div.franchises-list").show();
        } else {
            $("div.franchises-list").hide();
        }
    });

    $("input#ck_platforms").change(function () {
        if (this.checked) {
            $("div.platforms-list").show();
        } else {
            $("div.platforms-list").hide();
        }
    });

</script>

{% endblock %}
