{% extends 'base.html' %}

{% block title %}{{ search["text"] }}{% endblock %}

{% block content %}

{% if search.get("results") %}
    <div class="result-list">
    {% for key in search["results"] %}
        {% for item in search["results"][key] %}
            <div class="result-item">
                <a href="{{ item[1] }}">{{ item[0] }}</a>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
{% else %}
    <p>No results were found for {{ search["text"] }}.</p>
{% endif %}

{% endblock %}
