{% extends "base.html" %}

{% block title %}EXP - Sign Up{% endblock %}

{% block content %}

<h2>Sign Up for EXP Reviews</h2>

<form action="/signup" method="POST">
    <label>Username: </label>
        <input id=username type="text" name="username" required>
        <img id="usercheck" src="/static/img/checkmark-flat.png" style="width:20px; height:20px" hidden>
    <br>
    <label>Email: </label>
        <input id=email type="email" name="email" required>
        <img id="emailcheck" src="/static/img/checkmark-flat.png" style="width:20px; height:20px" hidden>
    <br>
    <label>Password: </label>
        <input id=pword type="password" name="password" required>
    <br>
    <label>Re-Enter Password: </label>
        <input id=match_pwrd type="password" name="match_password" required>
        <img id="matchcheck" src="/static/img/checkmark-flat.png" style="width:20px; height:20px" hidden>
    <br>

    <input type="submit" name="signup" value="Join EXP">
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>

<script>

    var username = $("input#username");
    var email = $("input#email");
    var password = $("input#pword");
    var matchPassword = $("input#match_pwrd");
    var timer = null;

    var userImage = $("img#usercheck");
    var emailImage = $("img#emailcheck");
    var pWordImage = $("img#matchcheck");

    function validUsername(response) {
        userImage.attr("src", "/static/img/checkmark-flat.png");
        if (response.length >= 1){
            userImage.attr("src", "/static/img/x-mark.png");
        }
        userImage.show();
    }

    function getUsernameValidity() {
        var formValues = {"username": username.val()};
        $.get("/valid_username.json", formValues, validUsername);
    }

    function validEmail(response) {
        emailImage.attr("src", "/static/img/checkmark-flat.png");
        if (response.length >= 1){
            emailImage.attr("src", "/static/img/x-mark.png");
        }
        emailImage.show();
    }

    function getEmailValidity() {
        len = email.val().length
        var formValues = {"email": email.val()};
        var email_suffix = [".com", ".org", ".edu", ".gov"];

        suffix = email.val().slice(len-4, len);

        if (email_suffix.indexOf(suffix) >= 0){
            $.get("/valid_email.json", formValues, validEmail);
        } else {
            validEmail(["Invalid suffix"]);
        }
    }

    function passwordMatch(){
        pWordImage.attr("src", "/static/img/checkmark-flat.png");
        if (password.val() != matchPassword.val()) {
            pWordImage.attr("src", "/static/img/x-mark.png");
        }
        pWordImage.show();
    }

    username.keyup(function () {
            clearTimeout(timer);
            userImage.hide();
            timer = setTimeout(getUsernameValidity, 1000);
        }
    );

    email.keyup(function () {
            clearTimeout(timer);
            emailImage.hide();
            timer = setTimeout(getEmailValidity, 1000);
        }
    );

    matchPassword.keyup(function () {
            clearTimeout(timer);
            pWordImage.hide();
            timer = setTimeout(passwordMatch, 1000);
        }
    );

</script>

{% endblock %}