{% extends "base.html" %}

{% block title %}EXP - Sign Up{% endblock %}

{% block content %}

<h2>Sign Up for EXP Reviews</h2>

<form action="/signup" method="POST">
    <label>Username: </label><input type="text" name="username">
    <label>Email: </label><input type="text" name="email">
    <label>Password: </label><input type="password" name="password">
    <label>Re-Enter Password: </label><input type="password" name="match_password">

    <input type="submit" name="signup" value="Join EXP">
</form>

{% endblock %}