{% extends "base.html" %}

{% block title %}EXP - Sign Up{% endblock %}

{% block content %}

<h2>Sign Up for EXP Reviews</h2>

<form action="/signup" method="POST">
    <label>Username: </label>
        <input id=username type="text" name="username" required>
        <img id="usercheck" src="/static/img/checkmark-flat.png" style="width:20px; height:20px" hidden>
    <br>
    <label>Email: </label><input id=email type="text" name="email" required><br>
    <label>Password: </label><input id=pword type="password" name="password" required><br>
    <label>Re-Enter Password: </label><input id=match_pwrd type="password" name="match_password" required><br>

    <input type="submit" name="signup" value="Join EXP">
</form>

<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>

<script>

    var username = $("input#username");
    var email = $("input#email");
    var password = $("input#pword");
    var matchPassword = $("input#match_pwrd");
    var timer = null;

    var userImage = $("img#usercheck");

    function validUsername(response) {
        userImage.attr("src", "/static/img/checkmark-flat.png");
        if (response.length >= 1){
            userImage.attr("src", "/static/img/x-mark.png");
        }
        userImage.show();
    }

    function getValidity() {
        var formValues = {"username": username.val()};
        $.get("/valid_username.json", formValues, validUsername);
    }

    username.keyup(function () {
            clearTimeout(timer);
            userImage.hide();
            timer = setTimeout(getValidity, 1000);
        }
    );
    // email.keyup($.debounce(1000, valid_email))
    // match_password.keyup($.debounce(1500, password_match))

</script>

{% endblock %}