{% extends "base.html" %}

{% block title %}{{ user.fname }} {{ user.lname }}{% endblock %}

{% block content %}

<div class="container">
{% if current_games %}
    <div class="row currently-playing">
    <!-- Display in carousel so no pagination -->
        <h2>Currently Playing</h2>
        {% for game in current_games %}
            <div class="currently-playing-item" id="main-{{ game.game_id }}">
                <a href="/games/{{ game.game_id }}">{{ game.name }}</a>
                <img src="{{ game.cover.url }}" style="width: 33%; height: 33%">
                {% if session.get("user_id") %}
                    {% if session["user_id"] == user.user_id %}
                        <a class="update-notes" id="{{ game.game_id }}" href="#">Update Notes</a>
                        <div class="currently-playing-notes" id="div-{{ game.game_id }}" style="display: none">
                            <form action="/users/{{ user.user_id }}" method="POST" class="notes-form" id="form-{{ game.game_id }}">
                                <label>Hours Played so Far:</label> 
                                {% if game.time_played %}
                                <input class="time" id="time-{{ game.game_id }}" type="number" name="time_played" value="{{ game.time_played }}">
                                {% else %}
                                <input class="time" id="time-{{ game.game_id }}" type="number" name="time_played" value="0">
                                {% endif %}
                                <input class="notes" id="notes-{{ game.game_id }}" type="textarea" name="notes" value="{{ game.notes }}">
                                <input type="submit" name="submit" value="Update Notes">
                            </form>
                            <button type="button" class="finish-button" id="finish-game-{{ game.game_id }}">Finish Game</button>
                            <div class="publish-review" id="publish-{{ game.game_id }}" style="display: none">
                                <p>Final Score: </p>
                                <input class="score" id="score-{{ game.game_id }}" type="number" name="score">
                                <button type="button" class="publish-button" id="publish-review-{{ game.game_id }}">Publish</button>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>    
        {% endfor %}
        <p id="fake-flash-notes" style="display: none">Your notes have been updated.</p>
    </div>
{% endif %}

{% if session.get("user_id") %}
    {% if session["user_id"] == user.user_id %}
    <div class="row change-sort-pref">
        <h2>Change Recommendation Preferences</h2>
        <form action="/users/{{ user.user_id }}" method="POST" class="sort-form">
            <label>Compare using Age and Gender? </label>
            {% if user.full_sort %}
                <input type="checkbox" name="full_sort" class="sort_pref" checked="checked">
            {% else %}
                <input type="checkbox" name="full_sort" class="sort_pref">
            {% endif %}
            <input type="submit" name="submit">
        </form> 
        <p id="fake-flash-sort" style="display: none">Your preference has been updated.</p>
    </div>
    {% endif %}        
{% endif %}

{% if user.reviews %}
    <div class="row game-reviews">
        <h2>Reviews</h2>
        {% if num_pages > 1 %}
            <h2 class="paginated-header"></h2>
            <div class="col-lg-4 col-md-6 col-xs-12 paginated-reviews"></div>
            {% for index in range(1, num_pages + 1) %}
                <a class="pagination" id="{{ index }}" href="/users/{{ user.user_id }}">{{ index }}</a>
            {% endfor %}
        {% else %}
            <h2>Reviews</h2>
            {% for review in reviews %}
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <h4><a href="/games/{{ review.game.game_id }}">{{ review.user.username }}</a></h4>
                    <strong>{{ review.score }}</strong>
                    {% if review.comment %}
                        <p>{{ review.comment }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}

</div>

<script type="text/javascript">
    var userId = "{{ user.user_id }}";
    var paginatedReviews = $("div.paginated-reviews");
    var paginatedHeader = $("div.paginated-header");
    var isChecked;

    var urlIndex = 1;

    var getReviews = function (){
        var maxReview = urlIndex * 10;
        var data = {"userId": userId, "maxReview": maxReview};

        $.get("/get_user_reviews.json", data, setPaginatedReviews);
    };

    var setPaginatedReviews = function (results) {
        paginatedHTML = "";
        for (var i = 0; i < results.length; i++){
            paginatedHTML = (paginatedHTML + "<div class='col-lg-4 col-md-6 col-xs-12'><h4><a href='/games/" + results[i]['game_id'] + "'>" +
                results[i]['name'] + "</a></h4><strong>" + results[i]['score'] + "</strong>");
            if (results[i]["comment"]){
                paginatedHTML = paginatedHTML + "<p>" + results[i]["comment"] + "</p>";
            }
            paginatedHTML = paginatedHTML + "</div>";
        }
        paginatedReviews.html(paginatedHTML);
    };

    $("a.pagination").on("click", function (evt) {
        evt.preventDefault();
        var index = $(this).attr("id");
        urlIndex = parseInt(index) ;
        getReviews();
    });

    $(document).ready(getReviews());

    var removeGame = function(results) {
        $("div#main-" + results["game_id"]).toggle()
    };

    $("a.update-notes").on("click", function (evt) {
        evt.preventDefault()
        var gameId = $(this).attr("id");
        $("div#div-" + gameId).toggle();
    });

    $("button.finish-button").on("click", function() {
        var gameId = $(this).attr("id")
        gameId = gameId.split("-")[2]
        console.log("Clicked on " + gameId)
        $("div#publish-" + gameId).toggle()
    });

    $("button.publish-button").on("click", function() {
        var gameId = $(this).attr("id")
        gameId = gameId.split("-")[2]
        var formValues = {"user_id": "{{ user.user_id }}",
                  "game_id": gameId,
                  "notes": $("#notes-" + gameId).val(),
                  "time_played": $("#time-" + gameId).val(),
                  "score": $("#score-" + gameId).val()};
        $.post("/publish_review", formValues, removeGame)
    });

    var gameUpdated = function(results) {
        $("p#fake-flash-notes").toggle();
        setTimeout(function () {
            $("p#fake-flash-notes").toggle();
        }, 3000);
    };

    $("form.notes-form").submit(function (evt) {
        evt.preventDefault();
        var gameId = $(this).attr("id");
        gameId = gameId.split("-")[1]
        $("div#div-" + gameId).toggle();
        var formValues = {"user_id": userId, "game_id": gameId,
                      "notes": $("#notes-" + gameId).val(),
                      "time_played": $("#time-" + gameId).val()};
        $.post("/update_notes", formValues, gameUpdated);
    });

    var flashUpdated = function(results) {
        $("p#fake-flash-sort").toggle();
        setTimeout(function () {
            $("p#fake-flash-sort").toggle();
        }, 3000);
    };

    $("input.sort_pref").change(function() {
        if (this.checked) {
            isChecked = "t"
        } else {
            isChecked = ""
        }
    });

    $("form.sort-form").submit(function (evt) {
        evt.preventDefault();
        var formValues = {"isChecked": isChecked,
                          "user_id": userId};
        console.log(isChecked)
        $.post("/update_sort_pref", formValues, flashUpdated);

    });


</script>
{% endblock %}